<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
    <script>

        var authenticatedUser = <%= userAuth %>
        if (authenticatedUser) {
            $.get("../authNavigation.ejs", function(data) {
                $("#menu-placeholder").replaceWith(data);
            });
        } else {
            $.get("../navigation.ejs", function(data) {
                $("#menu-placeholder").replaceWith(data);
            });
        }
        $.get("../footer.html", function(data) {
            $("#footer-placeholder").replaceWith(data);
        });

    </script>

</head>

<html>



<div id="menu-placeholder"></div>

<body>
    <div class="container">
        <div class="displayPollContainer" id=<%=data[ '_id']%>>
            <div class="displayPollInfo">
                <h1><%=data.pollQuestion %></h1>

                <div class="displayPollAnswers">
                    <% for (let answerIndex=0; answerIndex < data.pollData.pollChoices.length; answerIndex++) { %>
                        <div name="voteDiv" id=<%=answerIndex %> class = displayIndividualAnswer>
                            <h2><%=data.pollData.pollChoices[answerIndex] %></h2>
                        </div>
                        <% } %>
                </div>

                <h6>Created by: <%=data.createdBy %> on </h6>
                <button>Share</button>

            </div>

            <div class="displayChart" id = "chartDiv">

                <canvas id="myChart"></canvas>
            </div>

        </div>

    </div>
    <script>
        function randomHex() {
            var letters = '0123456789ABCDEF';
            var hex = '#';
            for (var i = 0; i < 6; i++) {
                hex += letters[Math.floor(Math.random() * 16)];
            }
            return hex;
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var chartLabels = <%-JSON.stringify(data.pollData.pollChoices) %>
        var chartResponses = <%-JSON.stringify(data.pollData.pollResponses) %>
        var chartColors = []
        for (let i = 0; i < chartResponses.length; i++) {
            chartColors.push(randomHex());
        }
        console.log(chartColors);
        var data = {
            labels: chartLabels,
            datasets: [{
                data: chartResponses,
                backgroundColor: chartColors,

            }]
        }


        var myChart = new Chart(ctx, {
            type: 'pie',
            data
        });
    </script>
    <div id="footer-placeholder"></div>
</body>
<script type="text/javascript" src="/pageJS/voteHelper.js"></script>
<script type="text/javascript" src="/pageJS/chartHelper.js"></script>


</html>
