<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
        $.get("../authNavigation.ejs", function(data) {
            $("#menu-placeholder").replaceWith(data);
        });
    </script>

</head>

<html>
<div id="menu-placeholder"></div>

<body>
    <div class = "container">
    <div class="displayPollContainer" id = <%=data['_id']%>>
        <div class="displayPollInfo">
            <h1><%=data.pollQuestion %></h1>
            <h6>Created by: <%=data.createdBy %></h6>
            <div class="displayPollAnswers">
                <% for (let answerIndex=0; answerIndex < data.pollData.pollChoices.length; answerIndex++) { %>
                    <div name = "voteDiv" id =<%=answerIndex %> class = displayIndividualAnswer>
                    <h1><%=data.pollData.pollChoices[answerIndex] %></h1>
                  </div>
                    <% } %>
            </div>

        </div>

        <div class="displayChart">
            <% for (let answerIndex=0; answerIndex < data.pollData.pollResponses.length; answerIndex++) { %>
              <h1><%=data.pollData.pollResponses[answerIndex] %></h1>
            <% } %>
        </div>

    </div>

</div>
</body>
<script type="text/javascript" src="/pageJS/voteHelper.js"></script>
</html>
