<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting App</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>

        var authenticatedUser = <%= userAuth %>
        if (authenticatedUser) {
            $.get("../authNavigation.ejs", function(data) {
                $("#menu-placeholder").replaceWith(data);
            });
        } else {
            $.get("../navigation.ejs", function(data) {
                $("#menu-placeholder").replaceWith(data);
            });
        }
        $.get("../footer.html", function(data) {
            $("#footer-placeholder").replaceWith(data);
        });

    </script>
</head>

<html>
<div id="menu-placeholder"></div>

<body>
    <div class = "container">
      <div class = "createTopContainer">
        <div class = "titleContainer">
      <h1>Your Polls</h1>
    </div>
    <div class = "buttonContainer">
      <input type ="button" name = "deletePollButton" value="Delete Poll(s)">
    </div>
  </div>

    <div class = "viewPollContainer">
        <% for (let pollIndex=0; pollIndex < polls.length; pollIndex++) { %>

          <div class = "viewPollItem">
        <h3><%=polls[pollIndex].pollQuestion %></h3>

            <ul>
                <% for (let questionIndex=0; questionIndex < polls[pollIndex].pollData.pollChoices.length; questionIndex++) { %>
                    <li>
                            <%=polls[pollIndex].pollData.pollChoices[questionIndex] %> (<%=polls[pollIndex].pollData.pollResponses[questionIndex] %>)
                    </li>

                    <% } %>
            </ul>
            Total Responses: <b><%=polls[pollIndex].totalResponses %></b>
            <br>
            Delete <input type="checkbox" name = <%=polls[pollIndex].pollQuestion %> id = <%=polls[pollIndex]['_id'] %> >
            <button name = "goToPoll" id=<%=polls[pollIndex]['_id'] %> value = "go to poll">Go To Poll</button>
          </div>
            <% } %>

    </div>

</div>
<div id="footer-placeholder"></div>
</body>
<script type="text/javascript" src="/pageJS/viewPollHelper.js"></script>
</html>
